{% if pageStats %}
  {% set classExt = '--page' %}
{% endif %}


<div class="basic-stats {{ classExt }} py-2">
  <div class="rating">
  
    {% if product.number_of_ratings > 0 %}          
      {% set color = 'text-danger' %}
      {% if product.rating > 2.5 %}
        {% set color = 'text-warning' %}
      {% endif %}
      {% if product.rating > 4 %}
        {% set color = 'text-success' %}
      {% endif %}

      <strong class="{{ color }} rating-value">{{ product.rating|number_format(2) }}</strong>
      <small>/</small>
      <small>5</small> 
      <small class="vote-number">({{ product.number_of_ratings }})</small>
    {% else %}
      <small class="text-secondary">No ratings</small>
    {% endif %}
    
  </div>
  <div class="price">
    {% if product.number_of_prices > 0 %}
      <strong class="price-value">{{ (product.price / 100)|number_format(2, '.', ',')   }}</strong>
      <span>€</span>
      <small class="vote-number">
        ({{ product.number_of_prices }})
      </small>
    {% else %}
      <small class="text-secondary">No prices</small>
    {% endif %}
  </div>
</div>


{% if pageStats and auth %}
  <div class="stats-input my-3">
    <div class="input-field input-rating">
      <input 
        placeholder="Rating"
        type="text" 
        name="rating"
        value="{{ product.userRating }}"
      >
      <div class="unit-type">/5</div>
    </div>
    <div class="input-field input-price">
      <input 
        placeholder="Price"
        type="text" 
        name="price"
        value="{{ product.userPrice / 100 }}"
      >
      <div class="unit-type">€</div>
    </div>
  </div>
  <div class="save-stats">
    <button class="btn btn-primary">
      Save
    </button>
    <input type="hidden" name="product-id" value="{{ product.id }}">
  </div>
{% endif %}