{% set htmlPropertyName = name|lower|replace({' ': '-'}) %}
{% set old = old[name] %}

<div class="form-group">
  <label for="{{ 'form-' ~ htmlPropertyName }}">{{ name|capitalize ~ other ~ ':' }}</label>
  <input type="file" name="{{ htmlPropertyName }}" id="{{ 'form-' ~ htmlPropertyName }}">
</div>

{% if errors[name] is defined %}
  <div class="mb-3">
    <strong class="text-danger">{{ errors[name] }}</strong>
  </div>
{% endif %}