<div class="picture-main">

  <a href="{{ randomPicture.url }}" class="picture" style="background-image: url('{{ randomPicture.url }}');"></a>

  <div class="pic-controls">
    <div class="pic-info">
      <strong>{{ randomPicture.addedBy }}</strong>
      <span class="text-secondary">{{ randomPicture.elapsedTime }}</span>
    </div>
    {% if authenticated %}
    <div class="like-controls">
      <a class="btn btn-small">
        <span class="icon">thumb_up</span> {{ randomPicture.likes }}
      </a>
      <a class="btn btn-small"><span class="icon">thumb_down</span> {{ randomPicture.dislikes }}</a>
    </div>
    {% endif %}
  </div>

</div>