{% set imageUploadForm %}
  <form method="POST" 
    action="/api/product/picture/store" 
    class="image-upload-form"
  >
    <input type="file" name="image" class="image-input {% if product.userPicture %} {{ 'd-none' }} {% endif %}">
    <input type="hidden" name="product-id" value="{{ product.id }}">
    {% include "elements/csrfToken.twig" %}
  </form>
{% endset %}

{% if userPicture %}
  <div class="upload-input mr-2">
    <div class="d-none delete-pic-id">{{ userPicture.id }}</div>
    <div class="d-none delete-pic-url">{{ userPicture.url }}</div>
    {{ imageUploadForm }}
    <button class="btn btn-danger upload-btn">Delete</button>
  </div>
  <div class="upload-showcase rounded">
    <img src="{{ product.userPicture.url ? product.userPicture.url|replace({'--size': '--icon'}) : '/img/img.png' }}" alt="upload showcase">
  </div>
{% else %}
  <div class="upload-input mr-2">
    {{ imageUploadForm }}
    <button class="btn btn-secondary upload-btn" disabled>Upload</button>
  </div>
  <div class="upload-showcase rounded">
    <img src="{{ product.userPicture.url ? product.userPicture.url|replace({'--size': '--icon'}) : '/img/img.png' }}" alt="upload showcase">
  </div>
{% endif %}
