<div class="picture-main">

  <a 
    href="{{ randomPicture.url }}" 
    class="picture"
  >
    <img src="{{ randomPicture.url ?: '/img/none.webp' }}" alt="main picture">
  </a>

  {% if randomPicture.id is not defined %}
    {% set hideLikeAndInfo = 'd-none' %}
  {% endif %}

  <div class="pic-controls">
    <div class="pic-info {{ hideLikeAndInfo }}">
      <strong>{{ randomPicture.username ?? 'deleted' }}</strong>
      <span class="text-secondary">{{ randomPicture.time_created|elapsed }}</span>
    </div>

    <div class="like-controls {{ hideLikeAndInfo }}">

      {% if randomPicture.userLike.like is defined%}
        {% if randomPicture.userLike.like == true %}
          {% set likeActive = 'active' %}
        {% else %}
          {% set dislikeActive = 'active' %}
        {% endif %}
      {% endif %}

      <div class="d-none subject-id">{{ randomPicture.id }}</div>
      <button class="btn btn-small thumb-up {{ likeActive }}">
        <span class="icon">thumb_up</span> <span>{{ randomPicture.likes }}</span>
      </button>
      <button class="btn btn-small thumb-down {{ dislikeActive }}">
        <span class="icon">thumb_down</span> <span>{{ randomPicture.dislikes }}</span>
      </button>

    </div>
  </div>

</div>