<div class="col-sm-12 col-lg-4 col-xl-3 p-2">
  <div>
    <div class="shadow-sm border p-3 card product-card very-small-scrollbar">
      <div 
        class="product-thumbnail card-img-top rounded"
        style="background-image: url('{{ product.picture is empty ? '/img/none.webp' : product.picture|replace({'--size': '--thumb'}) }}');"
      ></div>
      <div class="card-body">
      <a href="/product/show/{{ product.id }}"><strong class="card-title">{{ product.name }}</strong></a>
      <div class="basic-stats py-2">
        <div class="rating">
        
          {% if product.number_of_ratings > 0 %}          
            {% set color = 'text-danger' %}
            {% if product.rating > 2.5 %}
              {% set color = 'text-warning' %}
            {% endif %}
            {% if product.rating > 4 %}
              {% set color = 'text-success' %}
            {% endif %}

            <strong class="{{ color }}">{{ product.rating|number_format(2) }}</strong>
            <small>/</small>
            <small>5</small> 
            <small class="vote-number">({{ product.number_of_ratings }})</small>
          {% else %}
            <small class="text-secondary">No ratings</small>
          {% endif %}
          
        </div>
        <div class="price">
          {% if product.number_of_prices > 0 %}
            <strong>{{ (product.price / 100)|number_format(2, '.', ',')   }}</strong>
            <span>€</span>
            <small class="vote-number">
              ({{ product.number_of_prices }})
            </small>
          {% else %}
            <small class="text-secondary">No prices</small>
          {% endif %}
        </div>
      </div>
      </div>
    </div>
  </div>
</div>